<h1>Docker</h1>
<p>Docker is an OS-level virtualization software platfor
 that enables developers and IT administrators to create,
deploy and run applications and all their dependencies in a Docker container. <p>

<h1> Jenkins</h1>
<p>enkins is an open-source continuous integration tool.
 It helps to automate continuous development, testing, and deployment of newly created codes. </p>
